
.backgroundCenter{
    background: linear-gradient(rgba(87, 89, 95, 0.85), rgba(75, 77, 81, 0.85)),
    url("../../images-talleres/centro-fachada.jpg");
    min-width: 100vh;
    background-size: 100%;
    background-position: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;

    }

    .completeHtml:before{
        content: "";
        width: 100px;
        min-width: 100vh;
        position: absolute;
        top:0;
        left: 0;
        opacity: 0.8;
        background-image: linear-gradient(45deg,#52c4df, #ad55c1) ;

    }

    * {
        box-sizing: border-box;
    }
    
    .container {
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }

    .title {
        text-align: center;
        font-size: 2em;
        color: black;
        font-weight: bold;

        @media (min-width: 768px) {
            font-size: 3.5em;
            
        }

    }
    
    .title span {
        color: pink;
    }

    .title:first-letter {
        font-size: 120%;
        font-weight: bold;
      }
    
    /* --- --- CONTENEDOR PRINCIPAL --- --- */
    
    .main-container {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
 

        p{
           color: black;
           text-align: justify;
        
         
        }
        a{
            text-decoration: none;
            color: rgb(73, 71, 71);
            font-weight: bold;
        }

        a:hover{
            text-decoration: underline;
        }


       &__image {
            vertical-align: top;
            margin-right: 20px;
            width: 60%;
            max-width: 60%;
        }
        
        &__text {
            width: 50%;
        }
     
    }
    
   
    
    .contenido-principal__titulo {
        font-weight: normal;
        font-size: 28px;
    }
    
    .contenido-principal__resumen {
        line-height: 30px;
        color: #CFCFCF;
    }
    
