//Header Superior//
.header_superior {
    visibility: hidden;
    height: 0px;
    top: 0px;
  
    @media (min-width: 768px) {
      visibility: visible;
      background-color: #c796b7;
      height: 180px;
  
      img {
        height: 150px;
       padding-top: 30px;
      }
    
      h2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 100px;
        text-transform: uppercase;
        color: aliceblue;
        //margin-top: 50px;
      }
    }
  }
  
  .header_superior__hidden {
    visibility: visible;
  
    img {
      height: 150px;
    }
  
    h2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 50px;
      text-transform: uppercase;
    }
  
  
    @media (min-width: 768px) {
      visibility: hidden;
     
    }
  
  
  }
  
  
  .container__menu {
    width: 100%;
    height: 70px;
    background-color: rgb(15, 104, 132);
    padding: 0px 20px;
  
    .menu {
      max-width: 1000px;
       margin: auto;
       height: 100%;
     }
     
     nav{
       height: 100%;
       color: white;
     }
     
     nav > ul {
       height: 100%;
       display: flex;
       color: white;
     }
     nav > ul > li:first-child > a {
       height: 100%;
       display: flex;
       list-style: none;
       position: relative;
       color: white;
       margin-right: 100px;
       padding: 30px 25px;
     
     }
     nav > ul > li {
       height: 100%;
       display: flex;
       list-style: none;
       position: relative;
       color: white;
       width: auto;
     }
     
     nav > ul > li > a {
       width: 100%;
       height: 100%;
       display: flex;
       color: white;
       align-items: center;
       padding: 14px;
       text-transform: uppercase;
       font-size: 14px;
       transition: all 300ms ease;
       justify-content: center;
       text-decoration: none;
       margin-left: 30px;
       font-family: 'Montserrat Alternates', sans-serif;
      
     }
     
     nav > ul > li > a:hover{
       transform: scale(1.1);
       background-color: #c796b7;
       box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      }
     
     
     #selected {
       transform: scale(1.1);
       background-color: #c796b7;
       box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
     }
     
     //SubMenu//
     
     nav ul li ul {
       width: 300px;
       display: flex;
       flex-direction: column;
       background-color: white;
       position: absolute;
       top: 90px;
       left: -5px;
       padding: 14px 0px;
       visibility: hidden;
       box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
       z-index: 10px;
      
     }
     
     nav ul li:hover ul {
     visibility: visible;
     opacity: 1;
     top: 70px;
     transition: all;
     }
     
     nav ul li ul:before {
     content: " ";
      width: 0;
      height: 0;
      border-left:  12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom:12px solid white;
      position: absolute;
      top: -12px;
      left: 20px;
     
     
     }
     
     nav ul li ul li a {
       display: block;
       color: rgb(15, 104, 132);
       padding: 6px;
       padding-left: 14px;
       margin-top: 10px;
       text-transform: uppercase;
       font-size: 14px;
       text-decoration: none;
       transition: all 300ms ease;
     }
     
     nav ul li ul li a:hover {
       background-color: #c796b7;
       color: rgb(15, 104, 132);
       transform: scale(1.1);
       font-size: 14px;
       box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
     }
  
     @media (max-width: 768px) {
      visibility: hidden;
      height: 0px;
     
    }
    
  }
  
  .header__menu {
    background-color: rgb(15, 104, 132);
    width: 44px;
    height: 44px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
   
      background-color: #ab8c7a;
      background-color: 0.5s linear;
    }
     @media (min-width: 768px) {
      visibility: hidden;
     &__text--btn {
        margin-bottom: 45px;
     }
    }
  
    @media (min-width: 1200px) {
      visibility: hidden;
      &__text--btn  {
        margin-bottom: 13px;
      }
    }
  }
  
  .slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../images/foto4.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
  
    &__text {
      margin: auto;
      margin-bottom: 530px;
      font-family: 'Montserrat Alternates', sans-serif;
    }
  
  
    &__text--btn {
      margin: auto;
      margin-bottom: 53px;
  
    }
  
    @media (min-width: 1200px) {
      &__text--btn  {
        margin-bottom: 13px;
      }
    }
    &__text--main {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 42px;
      text-transform: uppercase;
    }
  
    @media (min-width: 768px) {
      &__text--main {
        font-size: 80px;
      }
    }
  
    @media (min-width: 1200px) {
      &__text--main {
        font-size: 100px;
      }
    }
  
    &__text--phrase {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 20px;
      font-weight: normal;
      h1 {
        font-style: italic;
      }
    }
  
    @media (min-width: 768px) {
      &__text--phrase {
        font-size: 32px;
      }
    }
  
    @media (min-width: 1200px) {
      &__text--phrase {
        font-size: 50px;
      }
    }
  
    &__text--btn {
      display: hidden;
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 #000;
      height: 45px;
      width: 45px;
      padding: 18px 12px 15.3px 13px;
      border-radius: 50%;
      margin-top: 45px;
  
  
      @media (min-width: 768px) {
        &__text--btn {
          margin-top: 45px;
        }
      }
    }
  
    &__text--btn:hover {
      transform: translateY(5px);
      transition: all 0.5s ease-out;
    }
  }
  

  //Menú lateral v. mobile//


  