//Header Superior//
* {
  font-family: "Montserrat Alternates", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;

}

.header_superior {
  background-color: #c796b7;

  width: 100%;

  &--title {
    font-size: 80px;
    //text-transform: uppercase;
    color: black;
    margin: auto;
    margin-top: 0px;
  }

  

  .header_superior__container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 180px;
  
    &--logo {
      display: none;
    }

    &--title {
      font-size: 60px;

    }

    &--title:first-letter {
      font-size: 120%;
      font-weight: bold;
    }


    &--facebook {
      width: 40px;
      height: 40px;
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      visibility: visible;
      justify-content: space-evenly;
      height: 200px;

      &--logo {
        display: block;
        height: 150px;
      }

      &--title {
        display: flex;
        font-size: 100px;
        text-transform: uppercase;
        color: black;
        margin-top: 0px;
        margin-left: 430px;
      }

      &--facebook {
        height: 70px;
        width: 70px;
        cursor: pointer;
      }

      &--facebook:hover {
        color: grey;
      }
    }
  }
}

.header_superior__hidden {
  visibility: visible;

  img {
    height: 80px;
  }

  

  @media (min-width: 768px) {
    visibility: hidden;
  }
}

.container__menu {
  width: 100%;
  height: 100px;
  background-color: black;
  padding: 0px 20px;

  .menu {
    //max-width: 1000px;
    margin: auto;
    height: 100%;
  }

  nav {
    height: 100%;
    color: white;
  }

  nav > ul {
    height: 100%;
    display: flex;
    color: white;
  }

  // nav > ul > li:second-child > a {
  //   height: 100%;
  //   display: flex;
  //   position: relative;
  //   color: white;
    
  //   margin-right: 100px;
  //   padding: 30px 25px;
  // }

  nav > ul > li {
    height: 100%;
    display: flex;
    position: relative;
    color: white;
    width: auto;
  }

  nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    justify-content: center;
    margin-left: 30px;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  nav > ul > li > a:hover {
    transform: scale(1.1);
    background-color: #c796b7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    color: #000;
  }

  #selected {
    transform: scale(1.1);
    background-color: #c796b7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 80px;

    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
    }
  }

  .homeIcon{
    width: 50px;
    height: 50px;

    @media (max-width: 768px) {
      width: 30px;
      height: 30px;
    }
  }


  //SubMenu//

  nav ul li ul {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10px;
  }

  nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
    transition: all;
  }

  nav ul li ul:before {
    content: " ";
    width: 0;
    height: 0;

    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
  }

  nav ul li ul li a {
    display: block;
    color: black;
    font-weight: bold;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;

  }

  nav ul li ul li a:hover {
    background-color: #c796b7;
    color: black;
    transform: scale(1.1);
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 768px) {
    visibility: hidden;
    height: 0px;
  }
}

.header__menu {
 
  background-color: black;
  width: 44px;
  height: 44px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #ab8c7a;
    background-color: 0.5s linear;
  }
  @media (min-width: 768px) {
    visibility: hidden;
    &__text--btn {
      margin-bottom: 45px;
    }
  }

  @media (min-width: 1200px) {
    visibility: hidden;
    &__text--btn {
      margin-bottom: 13px;
    }
  }
}

.slogan {
  z-index: -20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../images/foto4.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;

  &__text {
    margin: auto;
    margin-bottom:700px;
  }

  &__text--btn {
    margin: auto;
    margin-top: 100px;

    @media (min-width: 1200px) {
    
        margin-bottom: 13px;
      
    }
  }

 
  &__text--main {
    font-size: 42px;
    text-transform: uppercase;

    @media (min-width: 768px) {

        font-size: 80px;
      
    }
  
    @media (min-width: 1200px) {
  
        font-size: 100px;
      
    }
  }



  &__text--phrase {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;

    @media (min-width: 768px) {
      margin: 0PX;
        font-size: 32px;
      
    }
  
    @media (min-width: 1200px) {
    
        font-size: 50px;
  
    }

  }

 

  &__text--author {
    font-size: 12px;
    font-weight: normal;
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
  
  }

  @media (min-width: 768px) {
    &__text--author {
      font-size: 24px;
    }
  }

  &__text--btn {
    display: hidden;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 #000;
    height: 30px;
    width: 30px;
    padding: 18px 12px 15.3px 13px;
    border-radius: 50%;
    //margin-top: 45px;

    @media (min-width: 768px) {
      &__text--btn {
        //margin-top: 45px;
      }
    }
  }

  &__text--btn:hover {
    transform: translateY(5px);
    transition: all 0.5s ease-out;
  }
}

//Menú lateral v. mobile//
