.header_superior {
  background-color: rgb(245, 159, 175);
  width: 100%;

  &--title {
    font-size: 60px;
    text-transform: uppercase;
    color: black;
  }

  .header_superior__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;

    &--logo {
      display: none;
    }

    &--title {
      font-size: 40px;
      text-transform: uppercase;
    }

    &--title:first-letter {
      font-size: 120%;
      font-weight: bold;
    }

    &--social {
      display: flex;
      align-items: center;
    }

    .facebook,
    .instagram {
      margin-left: 15px;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    .facebook:hover,
    .instagram:hover {
      margin-top: 0.5rem;
      border-bottom: 5px solid black;
      line-height: 30px;
      transition: all 0.5s ease-out;
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: auto;
      visibility: visible;
      height: 20%;

      &--logo {
        display: block;
        height: 100px;
      }

      &--title {
        display: flex;
        justify-content: center;
        font-size: 80px;
        text-transform: uppercase;
        color: black;
        margin-top: 0px;
      }

      .facebook,
      .instagram {
        margin-left: 15px;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }

    @media (min-width: 1090px) {
      align-items: center;
      margin: 0 5%;
      visibility: visible;
      justify-content: space-between;
      height: 20vh;

      &--logo {
        display: block;
        height: 80px;
      }

      &--title {
        display: flex;
        font-size: 80px;
        text-transform: uppercase;
        color: black;
        margin-top: 0px;
      }

      .facebook,
      .instagram {
        margin-left: 40px;
      }
    }
  }
}

.slogan {
  display: grid;
  place-items: center top;
  width: 100%;
  height: 90vh;
  background-image: url(../../images/foto4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;

  &__phrase {
    display: flex;
    margin: auto;
    justify-content: center;

    @media (min-width: 768px) {
      position: relative;
      height: 80vh;
    }

    @media (min-width: 1090px) {
      height: 100vh;
    }
  }

  &__author {
    font-size: 12px;
    font-weight: normal;
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
    line-height: 50px;
  }

  @media (min-width: 768px) {
    &__author {
      font-size: 24px;
    }
  }
}
