

.article {
  //font-family: 'Playfair Display', serif;
  font-family: "Montserrat Alternates", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4a4a4a;
  width: 100%;
  text-align: justify;


  @media (min-width: 768px) {


  }

  @media (min-width: 1200px) {


  }

  &__entidad {
    width: 100vhw;
  }


  &__entidad--small {
    height: 40px;
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
    align-items: center;
    padding-left: 30px;
    justify-content: center;
   
  }


  &__entidad--small:first-letter {
    font-size: 180%;
    font-weight: bold;
 }


  @media (min-width: 720px) {
    &--small {
      width:100px;
      font-size: 16px;
      padding: 0px;
      background-color: #000000;
    }
  }

  &__title {
    font-size: 16px;
    color: #000000;
    width: 100%;
    margin: 20px 0px;
    padding-left: 50px;
    padding-right: 60px;
    font-size: 16px;
   
  }

  &__title:first-letter {
    font-size: 200%;
    font-weight: bold;
  
 }

  @media (min-width: 768px) {
    &__title {
      width: 100%;
      font-size: 16px;
    }
  }

  @media (min-width: 1200px) {
    &__title {
      font-size: 18px;
    }
  }

  &__pharagraf {
    padding: 0px 50px;
    font-size: 14px;
  
   
  }

  @media (min-width: 768px) {
    &__pharagraf {
      padding: 0px 150px;
      font-size: 18px;
      margin-bottom: 150px;

   
    }
  }

  @media (min-width: 1200px) {
    &__pharagraf {
      padding: 0px 150px;

    }
  }

  &__link {
    border: 1px solid pink;
    background-color: black;
    height: 45px;
    width: 150px;
    line-height: 2.25;
    margin: 30px 214px 0px 0px;
    padding: 0 25px 0 26px;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: pink;
    }


    @media (min-width: 768px) {

    }


    &:hover {
      background-color: 0.5s linear;
      font-size: 20px;
      border-radius: 50px;
      border: 1px solid #ffffff;
      box-shadow: 0 0 15px #8ccbea;
      transform: translateY(5px);
      transition: all 0.5s ease-out;
    }

    &--btn {
      text-decoration: none;
     // text-transform: capitalize;
      color: #ffffff;
      font-size: 16px;
      padding: 20px 15px;


      &:hover {
        background-color: 0.8s linear;
      }
    }
  }

 
}


.containerBoxBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px 50px;
  cursor: pointer;




  @media (max-width: 768px) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    
  
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid pink;
    background-color: black;
    height: 30px;
    width: 100px;
    line-height: 2.25;
    padding: 0 25px 0 26px;
    border-radius: 22.5px;
    margin: 10px 0px;
   


    a {
      color: pink;
      font-size: 10px;
      font-style: to-lower-case($string: "");
      font-weight: bold;
    }


    @media (min-width: 768px) {
    height: 45px;
    width: 150px;

    a {
      font-size: 16px;
    }

    }


    &:hover {
      background-color: 0.5s linear;
      font-size: 20px;
      border-radius: 50px;
      border: 1px solid #ffffff;
      transform: translateY(5px);
      transition: all 0.5s ease-out;
    }

    &--btn {
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;



      &:hover {
        background-color: 0.8s linear;
      }
    }
  }

}

//Collapsable BTNS



.containerCollapsable {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 45px;
  height: 30px;
  border-radius: 50px;
  background-color: pink;
  border: solid rgb(249, 165, 179);
  margin: 30px 50px;


}


.close {
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50px;
  background-color: #000000;
  transform: translateX(19px);
  transition: all 0.8s ease-out;
  cursor: pointer;


}

.open {
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50px;
  background-color: #000000;
  transform: translateX(0px);
  transition: all 0.8s ease-out;
  cursor: pointer;


}




