.article {
  font-family: "Montserrat Alternates", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4a4a4a;
  width: 100%;
  text-align: justify;

  &__entidad {
    width: 100vhw;
    flex-direction: column;
  }


  h4 {
    font-size: 50px;
    color: gray;
    line-height: 100px;
  }

  h4:first-letter {
    font-size: 180%;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }

  &__title {
    width: 100%;
    margin: 20px 0px;
    padding: 0px 30px;
    white-space: nowrap;
    border-right: 3px solid black;
    width: 30ch;
    overflow: hidden;
    color:black;
    animation: texto 3s 3 steps(30), cursor 0.5s infinite;
    text-align: justify;
  }

  @keyframes texto {
    0% {
      width: 0;
    }
  }
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }

  &__title:first-letter {
    font-size: 200%;
    font-weight: bold;
  }

  @media (min-width: 768px) {
    &__title {
      width: 100%;
      padding: 0px 100px;
      font-weight: bold;

      h4 {
        padding: 0px;
        font-size: 50px;
        font-weight: bold;
        line-height: 180px;
      }

      p {
        font-size: 40px;
        font-weight: bold;
      }
    }
  }

  @media (min-width: 1090px) {
    h4 {
      padding: 0px;
      font-size: 70px;
      font-weight: bold;
      line-height: 200px;
      min-width: 800px;
    }

    p {
      font-size: 50px;
      font-weight: bold;
    }
  }





  //COLLAPSABLE

//   &__pharagraf {
//     padding: 0px 50px;
//     font-size: 14px;
//   }

//   @media (min-width: 768px) {
//     &__pharagraf {
//       padding: 0px 150px;
//       font-size: 20px;
//       font-weight: bold;
//     }
//   }

//   @media (min-width: 1200px) {
//     &__pharagraf {
//       padding: 0px 150px;
//       font-size: 18px;
//     }
//   }

//   &__link {
//     border: 1px solid pink;
//     background-color: black;
//     height: 45px;
//     width: 150px;
//     line-height: 2.25;
//     margin: 30px 214px 0px 0px;
//     padding: 0 25px 0 26px;
//     border-radius: 22.5px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     a {
//       color: pink;
//     }

//     @media (min-width: 768px) {
//     }

//     &:hover {
//       background-color: 0.5s linear;
//       font-size: 20px;
//       border-radius: 50px;
//       border: 1px solid #ffffff;
//       box-shadow: 0 0 15px #8ccbea;
//       transform: translateY(5px);
//       transition: all 0.5s ease-out;
//     }

//     &--btn {
//       text-decoration: none;
//       // text-transform: capitalize;
//       color: #ffffff;
//       font-size: 16px;
//       padding: 20px 15px;

//       &:hover {
//         background-color: 0.8s linear;
//       }
//     }
//   }
// }

// .containerBoxBtns {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
//   margin: 50px 50px;
//   cursor: pointer;

//   @media (max-width: 768px) {
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//   }

//   &__nav {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border: 1px solid pink;
//     background-color: black;
//     height: 30px;
//     width: 100px;
//     line-height: 2.25;
//     padding: 0 25px 0 26px;
//     border-radius: 22.5px;
//     margin: 10px 0px;

//     a {
//       color: pink;
//       font-size: 10px;
//       font-style: to-lower-case($string: "");
//       font-weight: bold;
//     }

//     @media (min-width: 768px) {
//       height: 45px;
//       width: 150px;

//       a {
//         font-size: 16px;
//       }
//     }

//     &:hover {
//       background-color: 0.5s linear;
//       font-size: 20px;
//       border-radius: 50px;
//       border: 1px solid #ffffff;
//       transform: translateY(5px);
//       transition: all 0.5s ease-out;
//     }

//     &--btn {
//       text-decoration: none;
//       color: #ffffff;
//       font-size: 16px;

//       &:hover {
//         background-color: 0.8s linear;
//       }
//     }
//   }
}
