

.containerServices {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  position: relative;

 
}

.containerServices::after {
  content: "";
  width: 2px;
  height: 100%;
  background: #1b3231;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  z-index: 1;
}

.evento {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  position: relative;
}

.evento::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: #dcdfd9;
  border: 2px solid #1b3231;
  position: absolute;
  z-index: 2;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
}

.service {
  display: flex;
  align-items: center;
  justify-content: start;
  width: calc(42% + 20px);
  font-size: 32px;
  font-weight: bold;

  Link,
  h3 {
    color: black;
  }

  h3:hover {
    color: grey;
    cursor: pointer;
  }
  i {
    margin: 0px 30px;
    color: black;
  }

  i:hover {
    color: grey;
    cursor: pointer;
  }

  @media (max-width: 760px) {
    font-size: 18px;
    margin: 0px -5px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    i {
      display: none;
    }
  }
}

.foto {
  width: 70%;
  border: 10px solid #fff;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @media (max-width: 760px) {
    display: none;
  }
}

.foto::after {
  content: "";
  display: block;
  border: 20px solid transparent;
  border-left: 20px solid #fff;
  position: absolute;
  right: -50px;
  top: calc(50% - 20px);
  @media (max-width: 760px) {
    display: none;
  }
}

.foto img {
  width: 100%;
  vertical-align: top;
}

.evento:nth-child(even) {
  flex-direction: row-reverse;
  .foto {

    img {
      width: 100%;
      @media (max-width: 760px) {
        display: none;
      }
    }
  }
}

.evento:nth-child(even) .service {
  justify-content: end;
}

.evento:nth-child(even) .foto::after {
  content: "";
  border: 20px solid transparent;
  border-right: 20px solid #fff;
  right: initial;
  left: -50px;
  @media (max-width: 760px) {
    display: none;
  }
}
